<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text1">
        <div class="title">
          1. Humanize your firm by showing causes you support
        </div>
        These days, it's important for companies to appear more human, and one
        of the best ways to do so is to show what causes your firm supports. By
        telling stories about individuals within your firm and letting them
        speak to their beliefs, you'll endear the company to like-minded people
        who may choose your firm to do business with, simply based on having a
        connection to the same cause.<br /><br />
        BNP Paribas does a great job of marketing finance without being salesy
        by highlighting their work in supporting microfinance institutions in
        the video below. By showing how the firm helps vulnerable people and
        communities across the world with strategic lending for humanitarian
        projects, the firm's financial education content distinguishes itself
        from competitors that fail to focus on these issues.
        <img src="assets/newsite24.PNG" class="textimg" />
      </div>
      <div class="text1">
        Ina similar vein, Univest showcases its involvement in the local
        community in the video below. By emphasizing the banking, insurance, and
        investment firm's charitable donations, employee volunteering efforts,
        and educational endeavors, Univest comes off as more approachable and
        people-oriented, traits that don’t always shine through in financial
        education content.
        <img src="assets/newsite25.PNG" class="textimg" />
      </div>
    </div>
  </div>
</div>
