<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="logo">
          <img src="assets/logo.PNG" class="logoimg" /><b>wibbitz</b>
        </div>
      </div>
      <div class="col-7">
        <ul class="nav">
          <li class="menu"><a href="#">Articles</a></li>
          <li class="menu"><a href="#">Events</a></li>
          <li class="menu"><a href="#">Reports</a></li>
          <li class="menu"><a href="#">Customer Stories</a></li>
          <li class="menu">
            <a href="#"><i class="fas fa-search"></i></a>
          </li>
          <li>
            <div>
              <input type="text" placeholder="Enter work email" />
              <button type="button" class="btn">Subscribe</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
