<footer>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="online">
          The online video editor trusted by content creators to make
          professional video in minutes.
          <img src="assets/copy22.png" class="icons" />
        </div>
      </div>
      <div class="uuu">
        <div class="col-1">
          <img src="assets/newsite23.PNG" class="iconsimg" />
        </div>
      </div>
      <div class="col-2">
        <div class="title">
          <span class="title2"><span class="solution">Solutions</span></span
          ><br />
          <span class="title-menu"
            >Studio<br />
            Lightbox<br />
            Wavi</span
          >
        </div>
      </div>
      <div class="col-2">
        <div class="title">
          <span class="title2">Why Wibbitz </span
          ><span class="title-menu"
            >Marketing Social Media News & Editorial Agencies Internal
            Communications Enterprise
          </span>
        </div>
      </div>
      <div class="col-2">
        <div class="title">
          <span class="title2">Resources</span><br /><span class="title-menu"
            >Blog<br />
            Customers Video Showcase Watch a Demo</span
          >
        </div>
      </div>
      <div class="col-2">
        <div class="title">
          <span class="title2">Pricing</span><br /><br />
          <span class="title2">Company</span><br />
          <span class="title-menu"
            >About Us<br />
            Jobs<br />
            Press</span
          >
        </div>
        <div class="title">
          <span class="title2">Legal</span><br /><span class="title-menu"
            >Terms and Conditions<br />Privacy Policy
          </span>
          <div></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="end2">
          <img src="assets/earth.PNG" /><span class="language">
            Choose Language</span
          ><br />English (United State) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          French
        </div>
      </div>
    </div>
  </div>
</footer>
