<div class="container">
  <div class="row1">
    <div class="row">
      <div class="col-6">
        <div class="ready">
          Recieve articles like this in your mailbox
          <div class="well">
            Sign up to ge weekly insights & inspirations in your inbox.
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="ready1">
          <input type="text" placeholder=" @ Enter work email" /><button
            type="button"
            class="btn"
          >
            Subscribe
          </button>
        </div>
        <img src="assets/newsite31.PNG" class="img20" />
      </div>
    </div>
  </div>
</div>
