<div class="container">
  <div class="row1">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="ready">
          Ready to take a test drive?
          <div class="well">
            We'll help you elevate your video content strategy. Prices starting
            from $49 a month. <a href="#">See pricing</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="ready1">
          <input type="text" placeholder="Enter work email" /><button
            type="button"
            class="btn"
          >
            Try it Free
          </button>
        </div>
        <img src="assets/newsite20.PNG" class="img20" />
      </div>
    </div>
  </div>
</div>
