<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text1">
        <div class="title">
          3. Provide valuable information to earn viewers' trust
        </div>
        Video content marketing for law firms and financial institutions is also
        a powerful medium for building trust with your audience. By providing
        value to viewers — and not expecting or asking for anything in return —
        you'll create goodwill with people who will remember your firm when they
        could actually use its products or services.<br /><br />
        GO Banking Rates created the following video as part of a financial
        education content campaign that teaches people how to find no-fee ATMs —
        and that some banks will reimburse these fees. ,<img
          src="assets/newsite27.PNG"
          class="textimg"
        />
      </div>
      <div class="text1">
        <div class="title">
          4. Showcase your firm's best pro bono work
        </div>
        Winston & Strawn LLP created another law firm marketing video for a
        different purpose: to showcase their pro bono work related to LGBTGIA
        issues. By highlighting how they provided legal services to the Tyler
        Clementi Foundation which helps combat bullying, supported transgender,
        gender nonconforming, and non-binary individuals in changing their legal
        names, and fought to win asylum for persecuted people all over the
        world, Winston & Strawn distinguishes itself within a massive sea of
        competitors whose names often sound similar and where it’s not always
        easy to tell firms apart.
        <img src="assets/newsite28.PNG" class="textimg" />
      </div>
      <div class="text1">
        <div class="title">
          5. Announce and romote events your firm is hosting
        </div>
        Content marketing for law firms and financial institutions can also play
        off real-world events you throw. Shearman & Sterling created this short
        promotional video in the Wibbitz platform that announced and shared
        details about the 2nd Annual Women General Counsel Forum they hosted in
        2019.<br /><br />

        Not only is this incredibly simple law firm marketing to plan and
        execute, it also offers insight into the company’s values, philosophy,
        and mindset for potential new hires.<br /><br />

        Plus, you can create recap videos of your event that attendees can share
        to show credibility — and entice those who missed out to attend the next
        one.
        <img src="assets/newsite29.PNG" class="textimg" />
      </div>
      <div class="text1">
        <div class="title">
          6. Highlight your firm's accolades and stats
        </div>
        Content marketing for law firms and financial institutions can also play
        off real-world events you throw. Shearman & Sterling created this short
        promotional video in the Wibbitz platform that announced and shared
        details about the 2nd Annual Women General Counsel Forum they hosted in
        2019.<br /><br />
        <img src="assets/newsite30.PNG" class="textimg" />
        <div class="text2">
          Videos like this exemplify how content marketing for law firms and
          financial institutions is taking shape for the 2020s. And with the
          right tools at your disposal, your firm can lighten the bandwidth of
          your marketing team — and transform its content strategy for the
          future.
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <img src="assets/eric.PNG" class="ericimg" />
    </div>
    <div class="col-5">
      <div class="eric">
        Eric Mathes<br />
        <span class="strategist">Content Marketing Strategist</span>
      </div>
    </div>
    <div class="col-6">
      <div class="contact">Follow me on:<img src="assets/vkinst.PNG" /></div>
    </div>
  </div>
</div>
