<div class="container">
  <div class="row">
    <div class="col-lg-10 col-sm-12">
      <div class="imgtitle">
        <span class="trends">Trends & Insights</span><br />
        <div class="ways">
          6 ways for financial & legal<br />
          marketers to differentiate their<br />
          firm through video
        </div>
        <br />
        <span class="eric"
          >Eric Mathes<br /><span class="data">Oct 15, 2019</span></span
        >
      </div>
    </div>
  </div>
</div>
