<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text1">
        <div class="title">
          2. Recruit new talent to your team
        </div>
        Finance and law firm marketing goes beyond attracting and nurturing
        clients, as your videos can also be used to recruit new employees. Never
        before have people had so much leverage over potential employers, but
        savvy firms can bolster their recruitment efforts with videos that show
        prospective hires what they could gain if they join the team.<br /><br />
        <div class="text2">
          “Winston & Strawn LLP created the clip below to showcase their
          District Attorney Secondment Program, which is targeted to mid-level
          associates with a passion for trial work. Not only do viewers learn
          how this program can accelerate their law careers, they also get to
          hear firsthand from attorneys who completed the program about the
          positive impact it had on their development. “
        </div>
        <img src="assets/newsite26.PNG" class="textimg" />
      </div>
    </div>
  </div>
</div>
