<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="div1">
        <div class="div-in-div">
          <div class="ready">
            Ready to continue your video marketing journey?
          </div>
          <br />
          <div class="explore">
            Explore our latest report for all the best practices & insights
            you'll need to easily navigate the video marketing landskape
          </div>
          <br />
          <button type="button" class="btn">Explore Report</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="div2">
        <img src="assets/onblackblock.PNG" />
      </div>
    </div>
  </div>
</div>
